
<h2>Instructions: continue drinking water to make Drake's flower grow! Click the "Hydrake" button for every 8oz consumed.</h2>
<div id="drink-water-button">
  <button class="hydrake"><br>Hydrake<br><br></button>
</div>

<div id="flower">
  <%= erb :"_flower" %>
</div>
