body {
  background-color: #fcadc3;
  color: white;
  text-align: center;
}

#flower {
  position: fixed;
  bottom: 0px;
  display: inline-block;
  margin-bottom: 0px;
  left: auto;
  right: auto;
}

header {
  font-size: 2em;
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
  font-style: italic;
  color: white;
}

.hydrake {
  background-color: darkgrey;

#button {
  background-color: darkblue;
  color: white;
  border-radius: 50px;
}
