
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
  <div id="background-container">
<body>
  <header>
    <h1 id="title">Hydrake Yourself</h1>
    <h3 id="slogan">1-800-THIRSTY</h3>
     <div id="nav-bar">
        <% if logged_in? %>
          Sip until you feel it, <%= current_user.username %>.<br><a href="/users/<%= current_user.id %>">Your Water Page</a> | <a id="going-home" href="/">Home</a> | <a id="logout" href="/users/logout">Logout</a>
        <% else %>
          <a id="login" href="/users/login">Login</a> | <a href="/users/register">Register</a> | <a href="/">Home</a>
        <% end %>
      </div>
  </header>
      <%= yield %>
</body>
  </div>
</html>
